In [1]:
import pandas as pd

In [4]:
train = pd.read_csv("smiles_train_set.csv")
train.head(2)

                               blend_id      smiles  oil_property_param_value
0  49743a76-a614-11ee-9529-005056921581       CCCCC                  103300.0
1  49743a76-a614-11ee-9529-005056921581  CCCC(C)CCC                  103300.0

In [2]:
test = pd.read_csv("smiles_test_set_public.csv")

In [9]:
test["oil_property_param_value"] = [10000.0] * len(test)

In [15]:
test.drop_duplicates("blend_id", inplace=True)

In [21]:
test.drop(columns=["smiles"], inplace=True)

In [23]:
test

                                 blend_id  oil_property_param_value
0    d272c9a6-3332-11ed-9685-005056921581                   10000.0
4    dea007ac-a065-11ed-9f24-005056921581                   10000.0
6    14efbc8a-9090-11ec-83a1-005056921581                   10000.0
10   e48772c8-4e07-11ed-9a6d-005056921581                   10000.0
14   72b7aafa-d791-11ed-8145-005056921581                   10000.0
..                                    ...                       ...
517  994a200e-853c-11ee-9d2f-005056921581                   10000.0
520  eb25ecae-7886-11ee-9d5b-005056921581                   10000.0
523  e63f290a-fe22-11ed-8421-005056921581                   10000.0
528  f7ff118c-eb17-11ed-9974-005056921581                   10000.0
532  97249b7a-9590-11ed-84b7-005056921581                   10000.0

[138 rows x 2 columns]

In [24]:
test.to_csv("results/baseline.csv", index=False, encoding="UTF-8")